*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #daebe8;
}
header{
    background-image: url(images/header_bg1.png);
    background-repeat: no-repeat;
    background-position: 66% 100%;
    background-size:initial;
}
/* nav related styles.............................. */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
nav .right ul{
    display:flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
nav .right ul li{
    margin: 0 20px;
    padding:7px;
    text-decoration: none;
    
}
nav .left{
    padding:7px;
    margin: 0 20px;
}
nav .right ul li a{
    text-decoration: none;
    color: black;
}
h1 div{
    display: inline;
    color: #FD6E0A;

}
nav .right ul li button{
    padding: 15px;
    text-decoration: none;
    background-color: #FD6E0A;
    font-size:large;
    color: white;
    border-radius: 5px;
}

/* banner related styles */
.banner{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.intro{
    width: 40vw;
    margin-left: 17vw;
}
.intro button{
    margin-top: 10px;
    margin-right: 20px;
    padding: 15px;
    text-decoration: none;
    background-color: #FD6E0A;
    font-size:large;
    color: white;
    border-radius: 5px;
}
.banner img{
    margin-right:13vw;
    height:75vh;
}

