*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #daebe8;
}
header{
    background-image: url(images/header_bg1.png);
    background-repeat: no-repeat;
    background-position: 66% 100%;
    background-size:initial;
}
/* nav related styles.............................. */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
nav .right ul{
    display:flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
nav .right ul li{
    margin: 0 20px;
    padding:7px;
    text-decoration: none;
    
}
nav .left{
    padding:7px;
    margin: 0 20px;
}
nav .right ul li a{
    text-decoration: none;
    color: black;
}
h1 div{
    display: inline;
    color: #FD6E0A;

}
nav .right ul li button{
    padding: 15px;
    text-decoration: none;
    background-color: #FD6E0A;
    font-size:large;
    color: white;
    border-radius: 5px;
}
.resumeSum button{
    padding: 15px;
    text-decoration: none;
    background-color: #FD6E0A;
    font-size:large;
    color: white;
    border-radius: 5px;
    margin: 50px;
}

/* banner related styles */
.banner{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.intro{
    width: 40vw;
    margin-left: 17vw;
}
.intro button{
    margin-top: 10px;
    margin-right: 20px;
    padding: 15px;
    text-decoration: none;
    background-color: #FD6E0A;
    font-size:large;
    color: white;
    border-radius: 5px;
}
.banner img{
    margin-right:13vw;
    height:75vh;
}
/* main section */
main{
    margin: 0vh 13vw 20vh 13vw;
}
.aboutMe{
    margin: 40vh 0px 30vh 0px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:20px 50px;
    box-shadow: 10px 10px 20px #daebe834;
}
.abtMe h3{
    text-align: center;
}
.abtMe p{
    display: flex;
    justify-content: space-evenly;
}
.littleSections{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.myInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:10px;
    margin: 30px 30px 0px 30px;
    /* border: 1px dashed black; */
}
.myInfo h5{
    font-weight: lighter;
    color: #FD6E0A;
}
.littleSections2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.myInfo2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:10px;
    margin: 30px;
}
.WhatIdo{
    margin: 0vh 0px 80px 0px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:50px 50px;
}
.what h3{
    text-align: center;
}
.resumeSum{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
.twoSections{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
footer{
    margin: 0vh 13vw 0px 13vw;
}
.footerContainer{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 20%;
}
.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form{
    width: 100%;
}
.leftf{
    width:50%;
}
